$primary-color: #fefae0;
$secondary-color: #95a5a6;

@mixin for-mobile {
  @media (max-width: 900px) {
    @content;
  }
}

.socials {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 10%;
  cursor: pointer;
  margin: 1rem 0;

  .icon {
    transition: .4s;

    &:hover {
      color: hsl(184, 9%, 32%);
    }
  }

  @include for-mobile {
    width: 40%;
    margin-bottom: 3rem;
  }
}