$primary-color: #fefae0;
$secondary-color: #95a5a6;

@mixin for-mobile {
  @media (max-width: 900px) {
    @content;
  }
}

.socials {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  .icon {
    cursor: pointer;
    transition: .4s;

    &:hover {
      color: hsl(184, 9%, 32%);
    }
  }
}