@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
.card {
  width: 310px;
  height: 510px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.made-with {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7em;
}

.line {
  border-bottom: 1px solid #254f79;
  margin: 0.8rem 0;
}

.lang-logo {
  height: 1.5rem;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}
.card:hover .line {
  border-bottom: 1px solid #95a5a6;
  opacity: 0;
}
.card:hover .made-with {
  opacity: 0;
}

.card .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 2;
  background-color: #17304A;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.card .description p {
  color: #fefae0;
}

.span-2 {
  grid-column: span 2;
}

.card:hover .image-container {
  height: 100%;
  opacity: 0.3;
}

.card:hover .description {
  background-color: transparent;
}

.card:hover .span-2 {
  opacity: 0;
}

.card:hover .demo-container {
  opacity: 1;
}

.demo-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.demo-container a {
  border: none;
  padding: 0.5em 1.5em;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1019607843);
  background-color: #254f79;
  z-index: 2;
  transition: 0.3s ease-out;
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.demo-container a:hover {
  background-color: #3877b6;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 20%;
  cursor: pointer;
  margin: 1rem 0;
}
.socials .icon {
  width: 100%;
  transition: 0.4s;
}
.socials .icon:hover {
  color: #95a5a6;
}
@media (max-width: 900px) {
  .socials {
    width: 95%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2117647059);
  letter-spacing: 0.2px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #0d1b2a;
  color: #fefae0;
  display: grid;
  place-items: center;
  height: 100vh;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #fefae0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.name-heading {
  padding: 1rem;
}

.name-heading > div {
  display: flex;
  align-items: center;
}
.name-heading > div a {
  margin-left: 2rem;
  margin-top: 0.3rem;
  color: #fefae0;
  transition: 0.4s;
}
.name-heading > div a:hover {
  color: #95a5a6;
}
@media (max-width: 900px) {
  .name-heading > div {
    flex-direction: column;
  }
}

.name-heading h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .name-heading h1 {
    text-align: center;
  }
}

.name-heading h1,
.name-heading p {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2117647059);
}

@media (max-width: 900px) {
  .name-heading p:first-child {
    padding-top: 0.5em;
  }
}

.info-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .info-text {
    flex-direction: column;
  }
}

.info-text div {
  display: flex;
}

.info-text div:nth-child(2) {
  display: flex;
  align-items: center;
}

.arrow-icon {
  transform: rotate(90deg);
  margin: 1em 1em 0 0.5em;
  font-size: 2rem;
}

.student-info {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */