@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,900;1,500;1,600&display=swap');
@import 'cards';
@import 'socials';

@mixin for-mobile {
	@media (max-width: 900px) {
		@content;
	}
}

// $font-family: 'Lato', sans-serif;
$font-family: 'Montserrat', sans-serif;
$primary-color: #fefae0;
$secondary-color: #95a5a6;
$text-shadow: 2px 2px #00000036;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
	text-shadow: $text-shadow;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
	color: $primary-color;
}

body {
	font-family: $font-family;
	background-color: #0d1b2a;
	color: #fefae0;
}

.content {
	// width: min(170ch, 100% - 4rem);
	margin-inline: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
}

.name-heading {
	margin-top: 1rem;
	width: min(130ch, 100% - 4rem);
}

.name-heading>div {
	display: flex;
	align-items: center;

	a {
		margin-left: 2rem;
		margin-top: .3rem;
		color: $primary-color;
		transition: .4s;

		@include for-mobile {
			margin-left: 0;
		}

		&:hover {
			color: hsl(184, 9%, 32%);
		}
	}

	@include for-mobile {
		flex-direction: column;
		margin-top: 0;
	}
}

.name-heading h1 {
	font-size: 3rem;
	text-transform: uppercase;
	border-bottom: 1px solid hsla(188, 9%, 52%, 0.212);

	@include for-mobile {
		margin-top: 2rem;
		text-align: center;
		border: none;
	}
}

.name-heading h1,
.name-heading p {
	text-shadow: 2px 2px #00000036;
}

.name-heading p:first-child {
	@include for-mobile {
		padding-top: .5em;
	}
}

.info-text {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include for-mobile {
		flex-direction: column;
	}
}

.info-text div:nth-child(2) {
	display: flex;
	align-items: center;
}

.arrow-icon {
	transform: rotate(90deg);
	margin: .8em 1em 0 .5em;
	font-size: 2rem;
}

.student-info {
	display: flex;
	flex-direction: column;
}

.accordion {
	margin: -2rem 0 3rem 0;
	width: min(130ch, 100% - 4rem);

	@include for-mobile {
		width: 100%;
	}
}

.accordion__button {
	width: fit-content;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 1rem;

	@include for-mobile {
		margin: 0 auto;
	}
}

.accordion__content {
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease;
	width: 55%;

	@include for-mobile {
		width: 100%;
	}
}

.accordion.open .accordion__content {
	height: auto;
	max-height: 400px;
	border-bottom: 1px solid hsl(184, 9%, 32%);
}

.accordion-arrow {
	margin-left: 1rem;
	transition: all .3s ease;
}

.rotate {
	transform: rotate(-90deg);
}